@model SchoolHub.Models.ClassHomeModel

@{
    ViewBag.Title = "School Hub Add Class";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Add Teacher Class</title>
    @* Needed for cookies to work *@
    <script src="~/Scripts/SchoolHubScripts/Cookie.js"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <h2>Enroll in Class</h2>
            </div>
            <div class="col-md-6">
                @Html.ActionLink("Go Back", "AddDropClass", new { userId = Model.User.Id }, new { @class = "btn btn-primary " })
            </div>
        </div>
        <div class="container">
            <form>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        School:
                        <select>
                            @foreach (var item in Model.Schools)
                            {
                                <option value="@item.Value">@item.Label</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        Class:
                        <select>
                            @foreach (var cls in Model.Classes)
                            {
                                <option value="@cls.Id">@cls.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" id="Submit">Add Class</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


    @*<script>
        $(document).ready(function () {
            $("#Submit").click(function (e) {
                var teacherid = getCookie("userId");
                var newClass = {
                    Number: $("#ClassNumber").val(),
                    Name: $("#ClassName").val(),
                    Description: $("#ClassDescription").val(),
                    StartDate: $("#StartDate").val(),
                    EndDate: $("#EndDate").val(),
                    TeacherId: teacherid,
                    SchoolId: $("#SchoolId").val()
                }
                $.ajax({
                    type: "POST",
                    url: "/TeacherHome/AddNewClass",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ 'inClass': newClass }),
                    dataType: "json",
                    success: function (result, status, xhr) {
                        out = result;
                        if (out.message != "") {
                            alert(out.message)
                        }
                        else {
                            var url = '@Url.Action("TeacherHomeIndex", "TeacherHome", new {userId = Model.User.Id })';
                            window.location.href = url;
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("Issue occured while adding a class")
                    }
                });
                return false;
            });
        });

    </script>*@

</body>
</html>